.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  --header-height: 48px;
}

.Header {
  background-color: pink;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
}

.Main {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--header-height));
}

.EditorContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}

.Console {
  background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
}
