.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  --header-height: 48px;
  font-size: 12px;
  --blue: #4e97fe;
  --red: #e60000;
  --green: #319331;
}

.Header {
  background-color: #ebeced;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);

  display: flex;
  justify-content: center;
  align-content: left;
  flex-direction: column;

  user-select: none;
  -webkit-user-select: none;
}

.PyodideLoadingNotification {
  font-weight: bold;
}

.Main {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--header-height));
}

.EditorContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}

.ConsoleContainer {
  background-color: #fffffe;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
}

.Console {
  padding: 4px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: normal;
  font-size: 12px;
  font-feature-settings: "liga" 0, "calt" 0;
  font-variation-settings: normal;
  line-height: 18px;
  letter-spacing: 0px;
  white-space: pre;
}

.ConsoleText--compositionText {
  background-color: black;
  color: white;
}

.Button {
  color: white;
  background-color: var(--green);
  font-size: 12px;
  font-weight: bold;

  border: none;
  border-radius: 4px;
  padding: 8px 12px;

  cursor: pointer;

  display: inline-block;
  width: min-content;
}

.Button:hover {
  filter: contrast(0.8) brightness(1.2);
}

.Button:disabled {
  cursor: not-allowed;
}

.SmallSideMargin {
  margin-left: 8px;
  margin-right: 8px;
}

.ConsoleInput {
  outline: none;
  opacity: 0;
  caret-color: transparent;
}

.ConsoleCursor {
  background-color: black;
  border: 1px solid black;
  color: transparent;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.ConsoleCursor--focused {
  background-color: black;
}

.ConsoleCursor--unfocused {
  background-color: transparent;
}

.todo_delete {
  outline: none;
  border-radius: 0;
  border: 1px solid black;
  width: min-content;
  min-height: 12px;
}
